body {
    background: white;
    width: 90%;
    margin: auto;
}
main {
    display: block;
    background-color: lightgrey;
    column-count: 2;
    column-width: 500px;
    padding: 10px;
}

#burger_icon {
    width: 4%;
    display: none;
}

#navbar {
    display: block;
}

.information, .div_form {
    background: white;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    width: calc(100% - 40px);
}

img {
    max-width: 100%;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.form {
    background: lightgrey;
    padding: 10px;
}

.form textarea, select, .form_name_input {
    width: 90%;
}

.form .form_submit_input {
    width: auto;
}

table {
    font-family: arial, sans-serif;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

td {
    border-bottom: 1px solid grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: white;
}

li {
    float: left;
}

li a {
    display: inline-block;
    background: white;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    background: lightgrey;
}

#under_ul {
    display: none;
    position: absolute;
}
#under_ul li{
    float: none;
}

li:hover #under_ul {
    display: block;
}

footer{
    clear: both;
    height: 10%;
    width: 100%;
    background: white;
    text-align: center;
}
footer p{
    width: 30%;
    text-align: center;
    display: inline-block;
}

.button_DOM {
    padding: 10px 35px;
}

#button_DOM_4 {
    margin-bottom: 20px;
}

#div_DOM_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.div_DOM {
    border: 1px black solid;
    width: 24%;
    padding: 20px;
    margin: 10px;
}

@media only screen and (max-width: 1163px) {

    #burger_icon {
        display: block;
    }

    #navbar {
        display: none;
        position: fixed;
    }

}